//mobile
.schedule {
    @include common_mobile;
    .event {
        padding-bottom: 40px;
        margin: 0 auto;
    }
    .event:last-of-type {
        padding-bottom: 0px;
    }
}
//colored sections on calendar webpage
.get_involved {
    @include common_mobile;
    background-color: $tabred;
    h3 {
        color: $white;
        font-size: 21px;
        line-height: 32px;
        letter-spacing: 1.1px;
        font-weight: 700;
    }
    p {
        color: $white;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.9px;
        font-family: "Lato";
    }
    a {
        width: 125px;
        display: block;
        padding-top: 25px;
        text-decoration: none;
        color: $white;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.9px;
        font-family: "Lato";
        span {
            display: inline-block;
            -webkit-transition: transform .5s;
            transition: transform .5s;
        }
    }
    a:hover span{
            @include moving(80px);
    }
}
.start_meetup {
    @extend .get_involved;
    background-color: $tabbrown;
}