//mobile
.core_values {
    @include common_mobile;
    h4 {
        font-size: 18px;
        letter-spacing: 0.9px;
        font-weight: 700;
        font-style: italic;
    }
    nav {
        display: none;
    }
}
.greybox {
    @include common_mobile;
    background-color: $beige;
}
.normal_sections {
    @include common_mobile;
    ol {
        list-style: decimal;
        list-style-position: inside;
        line-height: 28px;
    }
    .end-of-list {
        font-weight: 700;
        font-style: italic;
    }
}
@media screen and(min-width: 765px) {
    .core_values {
        @include common;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
            display: inline-block;
        }
        nav {
            width: 300px;
            display: inline-block;
            h4 {
		        color: $tabred;
                font-size: 16px;
                line-height: 24px;
                font-style: normal;
                letter-spacing: 0.8px;
                font-family: "Lato";
		        font-weight: 700;
                display: block;
            }
            a {
                display: block;
                text-decoration: none;
                line-height: 36px;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .greybox {
        @include common;
        display: block;
    }
    .normal_sections {
        @include common;
        display: block;
    }
}