//mobile
.footer {
	width: 100%;
	padding: 35px 0;
	h3 {
		text-align: center;
		size: 16px;
		line-height: 28px;
		letter-spacing: 0.8px;
		color: $footerblue;
	}
}
@media screen and(min-width: 765px) {
    .footer {
        display: none;// used as a test for the media query
    }
}
