//mobile
.header {
	height: 58px;
	width: 100%;
	background-color: $headerprimary;
	//logo set up to go back to index page
	.logo {
		display: inline-block;
		color: $headerblue;
		size: 24px;
	    font-family: "Lato", sans-serif;
		margin: 21px 0 0 24px;
		text-decoration: none;
		letter-spacing: 2.4px;
		//split up words into two in order to set different fonts
		.tech {
			font-weight: 400;
			display: inline;
		}
		.lancaster {
			font-weight: 900;
			display: inline;
		}
	}
	.logo:hover {
		color: $white;
	}
	//burger bar for mobile site navigation
	nav {
		float: right;
		margin: 12px;
		width: 30px;
		height: 30px;
		img {
			height: 100%;
			width: 100%;
		}
		ul {
			display: none;
		}
	}
	nav:hover {
		ul {
            padding: 0 1%;
			display: block;
			position: absolute;
			background-color: $headerprimary;
            width: 77.5%;
			border: 1px solid black;
			left: 20%;
			top: 50px;
			li {
                width: 100%;
				border-top: 2px solid $tabred;
				display: block;
                height: 25px;
				a {
					color: $headerbrown;
                    line-height: 25px;
					text-align: center;
					text-decoration: none;
					display: block;
					height: 100%;
					width: 100%;
					-webkit-transition: background-color .5s;
					transition: background-color .5s;
				}
				a:hover {
					background-color: $tabred;
				}
			}
            li:first-of-type {
                border-top: 2px; //used to overide top line
            }
		}
	}
}
@media screen and(min-width: 765px) {
    .header {
        height: 77px;
        .logo {
            margin: 30px 0 0 29px;
        }
        nav {
		  float: right;
		  margin: 0;
		  width: 550px;
		  height: 100%;
		  img {
			display: none;
		  }
		  ul {
			display: inline-block;
            li {
                padding: 0 18px;
                display: inline-block;
                a {
					color: $headerbrown;
                    font-family: "Lato";
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: 0.8px;
                    line-height: 72px;
					text-align: center;
					text-decoration: none;
					display: block;
				}
                .on_page {
                    color: $white !important;//overides the color set at the bottom of the page
                    background-color: $tabred;
                }
            }
        }
    }
	nav:hover {
		ul {
            padding: 0;
			display: inline-block;
			position: static;
			background-color: $headerprimary;
            width: 100%;
			border: 0px;
			left: 0px;
			top: 0px;
			li {
                width: auto;
				border-top: 0px;
				display: inline-block;
                height: auto;
				a {
					color: $headerbrown;
                    font-family: "Lato";
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: 0.8px;
                    line-height: 72px;
					text-align: center;
					text-decoration: none;
					display: inline-block;
					height: auto;
					width: auto;
					-webkit-transition: background-color .5s;
					transition: background-color .5s;
				}
                a:hover:nth-of-type(1) {
                    color: $white
                }
                a:hover:nth-of-type(2) {
                    color: $white
                }
                a:hover:nth-of-type(3) {
                    color: $white
                }
				a:hover {
					background-color: $tabred;
				}
			}
            li:first-of-type {
                border-top: 2px; //used to overide top line
            }
		}
    }
}
}