//mobile
.hero {
	background-image: url("images/hero.jpg");
	background-position: 0 -40px;
	height: 300px;
	h1 {
		color: $white;
		padding: 72px 30% 0 27px;
		line-height: 42px;
		letter-spacing: 1.8px;
		font-size: 36px;
		font-family: 'Lato';
		font-weight: 900;
	}
}
