//mobile
.hero {
	background-image: url("images/hero.jpg");
	background-position: 0 -40px;
	height: 300px;
	h1 {
		color: $white;
		padding: 72px 30% 0 27px;
		line-height: 42px;
		letter-spacing: 1.8px;
		font-size: 36px;
		font-family: 'Lato';
		font-weight: 900;
	}
}
@media screen and(min-width: 765px) {
    .hero {
        background-position: 0 0;
        background-repeat: round;
        height: 500px;
        h1 {
            font-size: 56px;
            line-height: 72px;
            letter-spacing: 2.8px;
            padding: 170px 20% 0 116px;
        }
    }
}
