//color variables
$primary: #ffc400;
$headerprimary: #ffab00;
$headerblue: #064159;
$headerbrown: #72261d;
$tabred: #eb503c;
$white: #efe9d8;
$mainbrown: #4e1c07;
$secondbrown: #4c1a14;
$tabbrown: #a13729;
$blue: #021d2c;
$footerblue: #6f8998;
$beige: #efe9d9;
//mixing used to move links
@mixin moving($amount) {
  -webkit-transform: translate($amount);
  -ms-transform: translate($amount);
  -moz-transform: translate($amount);
  -o-transform: translate($amount);
  transform: translate($amount);
}
//common section  padding used for content mobile version
@mixin common_mobile {
  padding: 55px 20px;
  color: $blue;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  font-family: "Droid Serif";
    h3 {
        font-size: 21px;
        font-weight: 700;
        letter-spacing: 1.1px;
        color: $mainbrown;
    }
    .paragraph_break {
        padding-top: 15px; 
    }
}
@mixin common {
  padding: 55px 20px 55px 120px;
  color: $blue;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  font-family: "Droid Serif";
    h3 {
        font-size: 21px;
        font-weight: 700;
        letter-spacing: 1.1px;
        color: $mainbrown;
    }
    .paragraph_break {
        padding-top: 15px; 
    }
}