//color variables
$primary: #ffab00;
$headerblue: #064159;
$headerbrown: #72261d;
$tabred: #eb503c;
$white: #efe9d8;
$mainbrown: #4e1c07;
$secondbrown: #4c1a14;
$tabbrown: #a13729;
$blue: #021d2c;
$footerblue: #6f8998;
//mixing used to move links
@mixin moving($amount) {
  -webkit-transform: translate($amount);
  -ms-transform: translate($amount);
  -moz-transform: translate($amount);
  -o-transform: translate($amount);
  transform: translate($amount);
}
//common section used for content
@mixin common {
  
}
